{% extends 'layout.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
<section class="developers icons-submenu">
    <div class="container">
        <div class="align-center">
            <div class="media-container-row">
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/board-of-advisors">
                            <img src="/assets/node_modules/bootstrap-icons/icons/person.svg" alt="" width="64" height="64" title="Amera Mail">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us001">
                            Board of Advisors
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/partners">
                            <img src="/assets/node_modules/bootstrap-icons/icons/link.svg" alt="" width="64" height="64" title="Amera Share">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us002">
                            Our Partners
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/team">
                            <img src="/assets/node_modules/bootstrap-icons/icons/people.svg" alt="" width="64" height="64" title="Amera Suite">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us003">
                            Our Team
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/contact">
                            <img src="/assets/node_modules/bootstrap-icons/icons/envelope.svg" alt="" width="64" height="64" title="Amera Vault">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us004">
                            Contact Us
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="amera-content">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h2 id="about-us005">About Us</h2>
                <p id="about-us006"><strong>AMERA IoT Inc.</strong> is an encryption technology company that enables a user to easily be in complete control of their data. If a user uses <strong>AMERA IoT</strong> solution Phishing attacks (The number one choice for hackers) of a user’s data are impossible. Cloud services companies will no longer be able to spy on users Videos, Energy Data, Photographs, Word and Excel documents, Home Security Systems and any other data a user chooses to protect. It works with Data in Motion and Data at Rest. It is software compatible with all of the major suppliers of any form of AES and many other encryption technologies available today.</p>
                <p id="about-us007"><strong>AMERA IoT</strong> is mostly used to secure the device (Phones, Laptops, Desktops and Iot devices) and the key is never exposed to anyone including the user only between the devices. The initial products for users will be Software as a Service solutions to secure user’s data. The initial products for manufacturers will be software built into their devices that will make their products not hackable. </p>
                <p id="about-us008">The secondary benefit of the technology is also able to generate Entropy approaching that of a quantum computer and can be utilized in operating systems (Linux has very poor Entropy), applications software, gambling and any other service that requires true random number generation. Google, Microsoft, IBM and Amazon are currently developing a similar product. But it requires a Quantum computer and they control the keys and the user’s data is susceptible to them, partners and their affiliates.</p>
                <p id="about-us009">Our next generation product will be even stronger but will require us to work directly with chip manufacturers to incorporate it within their devices to increase the speed and performance. This will make it virtually impossible to attack the devices even with physical access and allow us to add Blockchain auditing to the process.</p>
                <p id="about-us010"><strong>AMERA</strong> <strong>IoT</strong> <strong>Inc</strong>. the company will market its technology to Businesses, Consumers and Developers. We will offer a suite of Software as a Service solutions in the cloud, Applications for devices and licenses and revenue shares to hardware developers and chip manufacturers.</p>
            </div>
        </div>
    </div>
</section>

<section class="amera-content">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h3 id="about-us011">Some of the markets that need this now are</h3>
                <p id="about-us012">Cameras, Security Systems (Home and Business), Video and Voice conferencing systems, Retail outlets, Convenience stores, Government (Federal and State), Cloud services companies, Applications developers and any manufactures of Iot devices.</p>
                <p id="about-us013"><strong>Brief description of some of the problems that we solve</strong></p>
                <p id="about-us014">AES encryption is the standard and currently the best published way and most used way to encrypt data.</p>
                <p id="about-us015">The reason that every day you hear about breaches is usually because of:</p>
                <ol>
                    <li><p id="about-us016">Data is not encrypted and in the clear and normally security has been breached. Examples are the recent Amazon breach, Experian, GSA, Yahoo and many others.</p></li>
                    <li><p id="about-us017">The password or Key that was used is attached by a Phishing attack by third party that then uses a password or key to decrypt the files or data.</p></li>
                    <li><p id="about-us018">The user uses a password that they use across multiple platforms and the key has been compromised on one of the platforms they use and then is used by hackers to breach the files on other systems user uses.</p></li>
                    <li><p id="about-us019">The implementation of AES exposes the key in its process and becomes vulnerable.</p></li>
                    <li><p id="about-us020">The user creates password using well known information about themselves like social security and birthdays. Most people are not good at remembering strong passwords with no basis in their life’s.</p></li>
                    <li><p id="about-us021">The procedures to recover the password for user are poor and third parties are able to impersonate the user</p></li>
                    <li><p id="about-us022">The users login is usually available from anywhere on the net and from any device</p></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<label id="about-us000" style="display: none" ></label>
{% endblock %}
{% block scripts %}
{% endblock %}
