{% extends 'layout.html' %}
{% block title %}Account{% endblock %}
{% block content %}
<section class="amera-content account-content">
    <div class="container">
        <div class="media-container-row">
            <div class="col-md-12 col-lg-12 block-content">
                <h2 class="align-center"><label id="account001">YOUR ACCOUNT</label> &nbsp;<strong>{{ first_name }}</strong></h2>
            </div>
        </div>
    </div>
</section>

<section class="amera-content account-content">
    <div class="container">
        <div class="media-container-row">
            <div class="col-md-12 col-lg-12 block-content">
                <h4 class="align-center" id="account002">INVITE OTHERS</h4>
                <p class="align-center" id="account003">Fill out the form below</p>
                <div class="row">
                    <div hidden="hidden" id="invite-error-alert" data-form-alert="" class="alert alert-danger col-12" role="alert"><span
                            id="invite-error-description"></span>
                    </div>
                    <div hidden="hidden" id="invite-success-alert" data-form-alert="" class="alert alert-success col-12" role="alert"><span
                            id="invite-success-description"></span>
                    </div>
                </div>
                <form method="POST" id="invite">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input type="email" name="email" placeholder="test@email.com" class="form-control" value="">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input type="text" name="first_name" placeholder="First Name" class="form-control" value="">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <input type="text" name="last_name" placeholder="Last Name" class="form-control" value="">
                        </div>
                        <div class="col-auto">
                            <button type="submit" id="invite-submit" class="btn btn-primary">INVITE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<label id="account000" style="display: none" ></label>
{% endblock %}
{% block scripts %}
<script src="assets/amera/js/account.js"></script>
{% endblock %}
