{% extends 'layout.html' %}
{% block title %}Board of Advisors{% endblock %}
{% block content %}
<section class="developers icons-submenu">
    <div class="container">
        <div class="align-center">
            <div class="media-container-row">
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/board-of-advisors">
                            <img src="/assets/node_modules/bootstrap-icons/icons/person.svg" alt="" width="64"
                                height="64" title="Amera Mail">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us001">
                            Board of Advisors
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/partners">
                            <img src="/assets/node_modules/bootstrap-icons/icons/link.svg" alt="" width="64" height="64"
                                title="Amera Share">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us002">
                            Our Partners
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/team">
                            <img src="/assets/node_modules/bootstrap-icons/icons/people.svg" alt="" width="64"
                                height="64" title="Amera Suite">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us003">
                            Our Team
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/contact">
                            <img src="/assets/node_modules/bootstrap-icons/icons/envelope.svg" alt="" width="64"
                                height="64" title="Amera Vault">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us004">
                            Contact Us
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="amera-content">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h2 id="board-of-advisors001">Board of&nbsp;<strong>Advisors</strong></h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/jack_balletto.jpg" alt="" width="256" height="256" class="img-thumbnail" style="background-color: #eee;" />
                </div>
                <h2 id="board-of-advisors002"><strong>Jack Balletto</strong><br>Co-Founder AMERA IoT Inc.</h2>
                <p id="board-of-advisors003"2><strong>Jack Balletto</strong> Received a Master's degree in electrical engineering from the University of Santa Clara in 1967. 
                    He worked at Lockheed
                in electronic countermeasures, and then joined Fairchild Semiconductor in a MOS marketing role in 1969. With two
                associates from Fairchild, Balletto co-founded Synertek, a MOS supplier to video game and PC vendors that was acquired
                by Honeywell in 1978.
                </p>
                <p id="board-of-advisors004">Mr. Balletto was a founder and the first CEO of VLSI Technology, Inc. He later worked in Hambrecht & Quist's (H&Q)
                venture capital group before forming the Sunrise Capital funds in 1996. At Sunrise Capital, Jack invested in Next Gen,
                Active Semiconductor, Matchmaker.com, Xilinx, and many other successful start-ups.</p>
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/lawrence_blackledge.jpg" alt="" width="256" height="256" class="img-thumbnail" style="background-color: #eee;" />
                </div>
                
                <h2 id="board-of-advisors005"><strong>Larry Blackledge</strong><br>Advisor</h2>
                <p id="board-of-advisors006"><strong>Larry Blackledge</strong>
                Earned his undergraduate degree from Southern Illinois University, Carbondale, and his Master of Business Administration
                from Abilene Christian University. He has more than 25 years of semiconductor industry experience, including most
                recently as CEO of Active-Semi International, a programmable analog power and motor drive IC semiconductor company
                acquired by Qorvo. Previously, he spent 22 years at Texas Instruments (TI), most recently as Vice President of a $400M
                mixed-signal IC business. Larry spent a decade in Asia managing TI’s Display Solutions and Bus Solutions businesses
                along with handling TI’s M&A activities in Asia.</p>

                <p id="board-of-advisors007">
                    Since 2007, Larry has also been a Technology Business Management Advisor to The Longreach Group, a private equity firm
                    in Asia. Larry is proficient in the Japanese language, and studied at Japan's Japanese Language Institute in Tokyo.
                </p>
            </div>
        </div>
    </div>
</section>

<hr>

<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/jack_russo.jpg" alt="" width="256" height="256" class="img-thumbnail" style="background-color: #eee;" />
                </div>
                
                <h2 id="board-of-advisors008"><strong>Jack Russo</strong><br>General Counsel</h2>
                <p id="board-of-advisors009"><strong>Jack Russo</strong> 
                    Obtained his undergraduate degree in business From CUNY in 1977 and his MBA and JD from U.C. Berkeley and UCLA in 1980.
                    He specializes in Internet, computer law, and intellectual property litigation. He is a frequent speaker on computer law
                    issues and has given presentations to the American Bar Association, the Practicing Law Institute, the Computer Law
                    Association, and the San Francisco Bay Area Intellectual Property American Inn of Court.
                </p>
                <p id="board-of-advisors010">
                    Jack serves as an arbitrator, mediator, and early neutral evaluator for the US District Court (ND California), the Santa
                    Clara County Superior Court, and the American Arbitration Association, as well as a Judge Pro Tempore of the Santa Clara
                    County Superior Court. Also, Mr. Russo is in charge of the Firm's entrepreneurship practice.
                </p>
            </div>
        </div>
    </div>
</section>

<hr>

<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/craig_slayter.jpg" alt="" width="256" height="256" class="img-thumbnail" style="background-color: #eee;" />
                </div>
                
                <h2 id="board-of-advisors011"><strong>Craig Slayter</strong><br>Advisor</h2>
                <p id="board-of-advisors012"><strong>Craig Slayter</strong>
                    Received his BS and MS from the University of Michigan in 1972. He has over 25 years of experience as a
                    Silicon Valley start-up entrepreneur, CEO, founder, general manager, and M&A executive in Intellectual Property (IP)
                    development and licensing for system software and semiconductor IP. Before founding his first company, he served as a
                    manager at Accenture and a principal at Grant Thornton, two of the world's largest consulting organizations. Mr.
                    Slayter’s international business experience includes managing engineering teams in Japan, Taiwan, India, Russia, and the
                    UK.
                </p>
                <p id="board-of-advisors013">
                    The first technology company Mr. Slayter founded was SoftStyle, whose key technology was included in Windows 1.0, and
                    whose company was sold to Phoenix Technologies. Craig was also SVP at ARC International, a licenser of semiconductor IP
                    and tools, which was later acquired by Synopsys. Also, he Co-Founded oDesk as their first CEO, which has now become
                    Upwork and also was a founding board member of the web-based ERP software company Intacct. Most recently, Craig served
                    as the VP of Corporate Development, responsible for mergers and acquisitions at Rambus, one of the pioneering
                    semiconductor IP companies. Rambus developed a renowned patent portfolio licensed to virtually all major semiconductor
                    companies, as well as silicon IP securing electronic systems at their hardware foundation.
                </p>
            </div>
        </div>
    </div>
</section>

<hr>

<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/kevin_walker.jpg" alt="" width="256" height="256" class="img-thumbnail" style="background-color: #eee;" />
                </div>
                
                <h2 id="board-of-advisors014"><strong>Kevin Walker</strong><br>Advisor</h2>
                <p id="board-of-advisors015"><strong>Kevin Walker</strong> 
                    Obtained his education from the University of Akron and has spent over 25 years in various computer science and
                    information technology disciplines. He focuses on secure hardware, network, enterprise applications, and service design.
                    Kevin brings this experience to the Chief Product and Information Security Officer role at Aptiv, leading the security
                    direction across Aptiv’s enterprise and product portfolio.
                </p>
                <p id="board-of-advisors016">
                    Kevin has served as Chief Technology Officer, Chief Information Security Officer (CISO), Chief Security Strategist and
                    Head of Information Security for several companies in many industry sectors, including Juniper Networks, Walmart.com,
                    Intuit, Cisco, and Symantec. Kevin has also built one of the first managed security services providers supporting
                    numerous Fortune 100 companies.
                </p>
            </div>
        </div>
    </div>
</section>

<hr>

<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/rod_turner.jpg" alt="" width="256" height="256" class="img-thumbnail" style="background-color: #eee;" />
                </div>
                
                <h2 id="board-of-advisors017"><strong>Rod Turner</strong><br>Advisor</h2>
                <p id="board-of-advisors018"><strong>Rod Turner</strong> 
                    Attended Aston University, where he received a dual degree in Electrical and Mechanical Engineering. He served as a
                    senior executive for two IPOs to NASDAQ (Ashton-Tate, Symantec). He was an Angel Investor in Ask Jeeves, INFN, AMRS,
                    eASIC, and Bloom Energy. Mr. Turner is a high-energy strategic thinker with altruistic tendencies, an engineer with
                    comprehensive business and management skills, and an expert in crowdfunding and mergers & acquisitions.
                </p>
                <p id="board-of-advisors019">
                    Rod has served as a consultant to CEOs of large companies and start-ups. He played a crucial role in building Ashton
                    Tate (dBASE), Symantec Norton, Knowledge Adventure, Mobile Automation, ArtSlant, and more. At Symantec, Mr. Turner led
                    the takeovers of their first acquisition, TimeLine, and their most strategic acquisition, Norton. He also led the
                    successful acquisition of PCAnywhere and an AV technology company into the Norton Group.
                </p>
            </div>
        </div>
    </div>
</section>

<hr>

<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/doug_laird.jpg" alt="" width="256" height="256" class="img-thumbnail" style="background-color: #eee;" />
                </div>
                
                <h2 id="board-of-advisors020"><strong>Doug Laird</strong><br>Advisor</h2>
                <p id="board-of-advisors021"><strong>Doug Laird</strong>
                    Received his undergraduate degree in Electrical Engineering from
                    Rochester Institute of Technology and his Master’s in Computer Science from Santa
                    Clara University. He has over 40 years’ experience in the high-tech industry working
                    in senior leadership positions for multinational corporations.
                </p>
                <p id="board-of-advisors022">
                    Doug has been CEO and Founder of prominent technology companies such as Tier
                    Logic, Cswitch Corp, and Transmeta Corp. Before founding his own companies,
                    Doug served as an executive at technology firms like Sun Microsystems, LSI
                    Logic, Ultra Network Technology, and ROLM Corp. Most recently, Doug was the Senior
                    Vice President of Engineering at Blackridge Technology for over six years.
                </p>
            </div>
        </div>
    </div>
</section>

<hr>

<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/denny_kelleher.jpg" alt="" width="256" height="256" class="img-thumbnail" style="background-color: #eee;" />
                </div>
                
                <h2 id="board-of-advisors023"><strong>Denny Kelleher</strong><br>Advisor</h2>
                <p id="board-of-advisors024"><strong>Denny Kelleher</strong>
                    Received a undergraduate degree in Electronics from Cork Institute of Technology in 1994. Most recently, Denny held the
                    position of Director of Localization and
                    Internationalization at Netflix. He successfully led the international expansion of
                    Netflix, bringing the platform into more than 50 countries.
                </p>
                <p id="board-of-advisors025">
                    Before Netflix, Denny held senior leadership positions at Apple, starting with
                    their first localization team in Europe. Due to his initial achievements, he
                    was sent to the US-Apple HQ and continued to work in senior leadership roles for more than
                    22 years.
                </p>
            </div>
        </div>
    </div>
</section>
<label id="board-of-advisors000" style="display: none" ></label>
{% endblock %}
{% block scripts %}
{% endblock %}

