{% extends 'layout.html' %}
{% block title %}Developers{% endblock %}
{% block content %}
<section class="developers icons-submenu">
    <div class="container">
        <div class="align-center">
            <div class="media-container-row">
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/developer#revshare">
                            <img src="/assets/node_modules/bootstrap-icons/icons/graph-up.svg" alt="" width="64" height="64" title="Amera Mail">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="developer001">
                            Revshare
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/developer#tools">
                            <img src="/assets/node_modules/bootstrap-icons/icons/gear.svg" alt="" width="64" height="64" title="Amera Share">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="developer002">
                            Tools
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/developer#hosting">
                            <img src="/assets/node_modules/bootstrap-icons/icons/cloud-upload.svg" alt="" width="64" height="64" title="Amera Suite">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="developer003">
                            Hosting
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/developer#support">
                            <img src="/assets/node_modules/bootstrap-icons/icons/info-circle.svg" alt="" width="64" height="64" title="Amera Vault">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="developer004">
                            Support
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="amera-content developer-content" id="revshare">
    <div class="container">
        <div class="media-container-row">
            <div class="media-content">
                <h2 id="developer005">Revshare</h2>
                <div class="pb-3 ">
                    <p>
                        <ul>
                            <li style="margin-bottom: .3em;" id="developer006">Product Manufacturer’s buys Chipsets with AMERA IoT IP from chip manufacturer and Chip
                                manufacture pays a royalty to AMERA IoT.</li>
                            <li style="margin-bottom: .3em;" id="developer007">Product Manufacture’s build a device that includes AMERA IoT IP software and connects
                                the device to AMERA IoT. The host pays licensing fees to AMERA IoT.</li>
                            <li style="margin-bottom: .3em;" id="developer008">The manufacturer sells the device directly to consumers and businesses or through
                                Retailers.</li>
                            <li style="margin-bottom: .3em;" id="developer009">Consumers and businesses buy the devices from Manufacturers or Retailers and then sign
                                up for AMERA IoT Cloud services which could be white labeled for some manufactures.</li>
                            <li style="margin-bottom: .3em;" id="developer010">AMERA IoT provides some services to consumers and businesses for free and charges for
                                other value-added services. Examples being video storage, data storage, blockchain-based data analytics, etc.</li>
                            <li style="margin-bottom: .3em;" id="developer011">AMERA IoT rebates revenue share to chip manufacturers, product manufacturers and if
                                said manufacturer wants is able be offer a value add to their reseller or retailer.</li>
                            <li style="margin-bottom: .3em;" id="developer012">AMERA IoT provides an additional rebate to chip manufacturers for other services to
                                consumers and businesses who buy non-chip related services. This revenue is only paid if consumer/business is a new
                                customer for AMERA IoT.</li>
                        </ul>
                    </p>
                </div>
                <div>
                    <a class="btn btn-lg btn-outline-primary" href="/" id="developer013">Learn More</a>
                    <a class="btn btn-lg btn-outline-primary" href="/video" id="developer014">Watch the Video</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="amera-content developer-content" id="tools">
    <div class="container">
        <div class="media-container-row">
            <div class="media-content">
                <h2 id="developer015">Tools</h2>
                <div class="pb-3 ">
                    <p id="developer016">
                    <strong>AGILE encrypted solution</strong>
                    </p>
                    <p id="developer017">
                    Agile software development comprises various approaches to software development under which requirements and solutions
                    evolve through the collaborative effort of self-organizing and cross-functional teams and their customer(s) and end
                    user(s). It advocates adaptive planning, evolutionary development, early delivery, and continual improvement, and it
                    encourages rapid and flexible response to change.
                    </p>
                    <p id="developer018">
                    We are currently evaluating partners where we can incorporate our technologies with theirs to offer an encrypted and
                    secure agile.
                    </p>
                    <p id="developer019">
                    <strong>AMERA IoT SDK</strong> <em>(Chip manufacture plus software implementation)</em>
                    </p>
                    <p id="developer020">
                    Once the AMERA IoT SDK for software has been completed the same group will develop this. This software will be used by
                    IoT hardware developers to incorporate the AMERA IoT Portal and security in their devices.
                    </p>
                    <p id="developer021">
                    <strong>Git Hub encrypted solution</strong>
                    </p>
                    <p id="developer022">
                    Git is an open-source version control system that was started by Linus Torvalds—the same person who created Linux. Git
                    is similar to other version control systems—Subversion, CVS, and Mercurial to name a few.
                    </p>
                    <p id="developer023">
                    So, Git is a version control system, but what does that mean? When developers create something (an app, for example),
                    they make constant changes to the code, releasing new versions up to and after the first official (non-beta) release.
                    </p>
                    <p id="developer024">
                    Version control systems keep these revisions straight, storing the modifications in a central repository. This allows
                    developers to easily collaborate, as they can download a new version of the software, make changes, and upload the
                    newest revision. Every developer can see these new changes, download them, and contribute.
                    </p>
                    <p id="developer025">
                    GitHub was acquired by Microsoft last year, but it is not secure. We can build on this open-source aspect and make it
                    very secure and then charge monthly fees to developer groups that want security for their development projects.
                    </p>
                    <p id="developer026">
                    <strong>Reference Designs</strong>
                    </p>
                    <p id="developer027">
                    We will provide reference designs for all of the major IoT devices. This will include cameras, locks, thermostats, and
                    many other products. Of course, the designs will require the use of chipsets from our partners and the completed product
                    will have to be manufactured at one of our manufacturing partners.
                    </p>
                </div>
                <div>
                    <a class="btn btn-lg btn-outline-primary" href="/" id="developer028">Learn More</a>
                    <a class="btn btn-lg btn-outline-primary" href="/video" id="developer029">Watch the Video</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="amera-content developer-content" id="hosting">
    <div class="container">
        <div class="media-container-row">
            <div class="media-content">
                <h2 id="developer030">Hosting</h2>
                <div class="pb-3 ">
                    <p id="developer031">
                        This is where consumers, businesses, and developers will go to activate and manage their devices and AMERA
                        application(s) software. It is also where developers will host their applications and devices. Initially, we will use
                        Rackspace to host the encryption process and AWS to host user encrypted data. Rackspace will manage both hosting
                        companies for us. Eventually, as AMERA IoT Inc. grows we will end up doing our own hosting as that will be a major
                        component of our revenue.
                    </p>
                    <p id="developer032">
                        <strong>Hosting Services for AMERA IoT developers and chip manufacturer’s customers</strong>
                    </p>
                    <p id="developer033">
                        We will provide cloud services for hardware and software applications to developers utilizing our technology. They can
                        host the complete application with us or let us host their customers with a private label face to their products on a
                        revenue share basis. We will also offer an enterprise version that customers like FISERV, Toyota, and Walmart can host
                        themselves.

                    </p>
                </div>
                <div>
                    <a class="btn btn-lg btn-outline-primary" href="/" id="developer034">Learn More</a>
                    <a class="btn btn-lg btn-outline-primary" href="/video" id="developer035">Watch the Video</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="amera-content developer-content" id="support">
    <div class="container">
        <div class="media-container-row">
            <div class="media-content">
                <h2 id="developer036">Support</h2>
                <div class="pb-3 ">
                    <p id="developer037">We will offer support to consumers and businesses for our application's software. We will also provide white label
                    support for manufacturers that incorporate AMERALock into their products. We will also provide enterprise support for
                    companies that we allow to license our enterprise solutions.</p>
                </div>
                <div>
                    <a class="btn btn-lg btn-outline-primary" href="/" id="developer038">Learn More</a>
                    <a class="btn btn-lg btn-outline-primary" href="/video" id="developer039">Watch the Video</a>
                </div>
            </div>
        </div>
    </div>
</section>
<label id="developer000" style="display: none" ></label>
{% endblock %}
{% block scripts %}
{% endblock %}