{% extends 'layout.html' %}
{% block title %}Mail{% endblock %}
{% block content %}
<section class="article content">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-12">
                <img src="/assets/amera/images/amera-mail.png" style="width: 50%;" />
            </div>
        </div>
    </div>
</section>

<section class="article content">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <h2 id="mail001">Core Features</h2>
            
                <p id="mail002">AMERAMail provides an easy and productive way to communicate with your customers, prospects, and colleagues. You can integrate your email accounts to send and receive messages directly in the application. To give your email messages a more powerful context, link them to relevant contacts or projects. Managing email marketing campaigns becomes a lot easier when you link Relationship’s emailing and contact group features.</p>
                <p id="mail003">For further convenience, you can add spreadsheets, text documents, movies, sounds, and other files to AMERAMail. Keep them for future use or link them to your contacts and projects to create a more versatile context for your CRM activities.</p>
                <p id="mail004">AMERAMail provides a default view for emails called “conversation view”. Conversation view is a new way of viewing email in AMERAMail that groups email messages into conversations based on the subject of the message, no matter where the message is stored or filed. This can help to reduce the clutter in your mailbox and help you manage email more efficiently. Conversation view is enabled by default for every mail folder in your mailbox. To disable conversation view for a specific folder, use the View drop down and uncheck “Use Conversations”. </p>
                <p id="mail005">New Favorites folder: You can now drag any folder up to Favorites to create a shortcut to that folder. Favorites can make it easier to access the folders you use the most. </p>
                <p id="mail006">Attach Messages to Messages: Sometimes you want to send a message as an attachment. In the past, you could attach almost any type of file to a message, but you couldn't attach a message from inside your mailbox to a message you were composing. Now you can. </p>
                <p id="mail007">New Out of Office feature: Provides the ability to schedule starting and ending date/times, plus the ability to customize different messages to internal and external recipients.</p>
            </div>
        </div>
    </div>
</section>
<label id="main000" style="display: none" ></label>
{% endblock %}
{% block scripts %}
{% endblock %}
