{% extends 'layout.html' %}
{% block title %}Our Partners{% endblock %}
{% block content %}
<section class="developers icons-submenu">
    <div class="container">
        <div class="align-center">
            <div class="media-container-row">
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/board-of-advisors">
                            <img src="/assets/node_modules/bootstrap-icons/icons/person.svg" alt="" width="64"
                                height="64" title="Amera Mail">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us001">
                            Board of Advisors
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/partners">
                            <img src="/assets/node_modules/bootstrap-icons/icons/link.svg" alt="" width="64" height="64"
                                title="Amera Share">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us002">
                            Our Partners
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/team">
                            <img src="/assets/node_modules/bootstrap-icons/icons/people.svg" alt="" width="64"
                                height="64" title="Amera Suite">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us003">
                            Our Team
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/contact">
                            <img src="/assets/node_modules/bootstrap-icons/icons/envelope.svg" alt="" width="64"
                                height="64" title="Amera Vault">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us004">
                            Contact Us
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="amera-content partners-content">
    <div class="container">
        <div>
            <h2 id="partners001">Our <strong>Partners</strong></h2>
            
            <div class="media-container-row">
                <div class="card col-6">
                    <div class="card-img">
                        <img src="/assets/images/rack-676x174.jpg" style="max-width: 100%;">
                    </div>
                    <div class="card-box">
                        
                        <h4 class="card-title"  id="partners002">
                            RackSpace</h4>
                        <p id="partners003">
                            Rackspace Inc. is an American managed cloud computing company based in Windcrest, Texas, a suburb of San Antonio. The company also has offices in Australia, the United Kingdom, Switzerland, the Netherlands, Germany, Singapore, Mexico, and Hong Kong.
                        </p>
                        
                    </div>
                </div>
                <div class="card col-6">
                    <div class="card-img">
                        <img src="assets/images/mega-676x174.jpg" style="max-width: 100%;">
                    </div>
                    <div class="card-box">
                        
                        <h4 class="card-title" id="partners004">
                            MegaChips</h4>
                        <p id="partners005">
                            Enabling everyday life through innovation, MegaChips is a semiconductor leader whose technology transforms the world we live in by helping each one of us achieve healthier, safer and more fulfilling lives.&nbsp;Leveraging decades of technology excellence, partnerships and acquisitions</p>
                        
                    </div>
                </div>
                
            </div>


        </div>
    </div>
</section>
<label id="partners000" style="display: none" ></label>
{% endblock %}
{% block scripts %}
{% endblock %}
