{% extends 'layout.html' %}
{% block title %}Products{% endblock %}
{% block content %}
<section class="products icons-submenu">
    <div class="container">
        <div class="align-center">
            <div class="media-container-row">
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/product#mail">
                            <img src="/assets/node_modules/bootstrap-icons/icons/envelope.svg" alt="" width="64" height="64" title="Amera Mail">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="product001">
                            Mail
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/product#share">
                            <img src="/assets/node_modules/bootstrap-icons/icons/upload.svg" alt="" width="64" height="64" title="Amera Share">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="product002">
                            Share
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/product#suite">
                            <img src="/assets/node_modules/bootstrap-icons/icons/briefcase.svg" alt="" width="64" height="64" title="Amera Suite">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="product003">
                            Suite
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/product#vault">
                            <img src="/assets/node_modules/bootstrap-icons/icons/shield-lock.svg" alt="" width="64" height="64" title="Amera Vault">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="product004">
                            Vault
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="amera-content products-content" id="mail">
    <div class="container">
        <div class="media-container-row">
            <div class="media-content">
                <h1>
                    <img src="/assets/amera/images/amera-mail.png" style="width: 50%;" />
                </h1>
                <div>
                    <p id="product005">
                        Businesses and consumers can sign up for a service that is compatible with normal email, but all
                        of the messages are encrypted at rest. When members communicate with other AMERA IoT Inc.
                        service subscribers all data in motion is also encrypted.<br />
                    </p>
                </div>
                <div>
                    <a class="btn btn-lg btn-outline-primary" href="/mail" id="product006">Learn More</a>
                    <a class="btn btn-lg btn-outline-primary" href="/video" id="product007">Watch the Video</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="amera-content products-content" id="share">
    <div class="container">
        <div class="media-container-row">
            <div class="media-content">
                <h1>
                    <img src="/assets/amera/images/amera-share.png" style="width: 50%;" />
                </h1>
                <div>
                    <p id="product008">
                        AMERA Suite will be a secure communication platform for businesses and will allow their
                        executives, management, employees and consumers to exchange messages and files (including
                        emails, attachments, chats, group chats, calls, documents, images, videos, voice messages, video
                        messages, and files) with end-to-end encryption utilizing AES and AmeraKey generation.
                    </p>
                </div>
                <div>
                    <a class="btn btn-lg btn-outline-primary" href="/share" id="product009">Learn More</a>
                    <a class="btn btn-lg btn-outline-primary" href="/video" id="product010">Watch the Video</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="amera-content products-content" id="vault">
    <div class="container">
        <div class="media-container-row">
            <div class="media-content">
                <h1>
                    <img src="/assets/amera/images/amera-vault.png" style="width: 50%;" />
                </h1>
                <div>
                    <p id="product011">
                        AMERAvault solves a problem that has long existed, putting all of your key information in one
                        secure place that cannot be accessed by anyone without your permission. This includes bank
                        accounts, copies of deeds, documents, passwords, Insurance policies, digital assets, photos, and
                        social media. The product also includes a dead man’s switch that can automatically release
                        access in the event of your demise.
                    </p>
                </div>
                <div>
                    <a class="btn btn-lg btn-outline-primary" href="/" id="product012">Learn More</a>
                    <a class="btn btn-lg btn-outline-primary" href="/video" id="product013">Watch the Video</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="amera-content products-content" id="sftp">
    <div class="container">
        <div class="media-container-row">
            <div class="media-content">
                <h1>
                    <img src="/assets/amera/images/amera-sftp.png" style="width: 50%;" />
                </h1>
                <div>
                    <p id="product014">
                        Secure FTP with secured data at rest for the files. FTP is an acronym for File Transfer
                        Protocol. As the name suggests, FTP is used to transfer files between computers on a network.
                        You can use FTP to exchange files between computer accounts, transfer files between an account
                        and a desktop computer, or access online software archives. This process is where many companies
                        expose their data to outside hackers. AMERA COM FTP will eliminate the problem.
                    </p>
                </div>
                <div>
                    <a class="btn btn-lg btn-outline-primary" href="/" id="product015">Learn More</a>
                    <a class="btn btn-lg btn-outline-primary" href="/video" id="product016">Watch the Video</a>
                </div>
            </div>
        </div>
    </div>
</section>
<label id="product000" style="display: none" ></label>
{% endblock %}
{% block scripts %}
{% endblock %}