{% extends 'layout.html' %}
{% block title %}Suite{% endblock %}
{% block content %}
<section class="article content">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-12">
                <img src="/assets/amera/images/amera-suite.png" style="width: 50%;" />
            </div>
        </div>
    </div>
</section>

<section class="article content">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <h2 id="suite001">Core Features</h2>
                <p id="suite002">Communication &amp; Collaboration the AmeraSuite platform can be used by any enterprise and is extremely easy to deploy, as it is browser based. AMERASUITE comes both as a PaaS (Platform as a Service) solution. AMERASUITE is closed AES encrypted ecosystem, but it’s very easy to invite i.e. colleagues, clients, partners, and suppliers etc. into the platform to secure the highest level of confidentiality.</p>
                <p id="suite003">Manageability Building a WebRTC app has never been easier. Our tools, analytics, and global infrastructure help you develop, maintain, and deploy your solution successfully.</p>
                <p id="suite004">The main difference between VOIPs and WebRTC (Web Real Time Communication) has more to do with WebRTC being designed specifically for browser-to-browser interaction, which is huge, and also, there’s the matter of secure signals. Just so you know, before WebRTC, there were no direct browser-to-browser data exchanges happening.</p>
                <p id="suite005">First, why is browser-to-browser interaction a big deal for WebRTC?  Well, think of it this way.  There’s no middleman, for one thing.  With things like Skype, and other apps, you don’t get a high level of security.  That means your signal could potentially be hacked, if it’s not entirely secure.</p>
                <p id="suite006">With WebRTC, things are different.  It is designed specifically with secure signals in mind (that’s part of its M.O.), unlike most other video / chat methods that are available to use.</p>
                <p id="suite007">For real time data to be transferred via WebRTC, DTLS (Datagram Transport Layer Security) encryption must first take place.  This was built into WebRTC from the start and is used in its three available browsers, Chrome, Firefox, and Opera.  With this DTLS connection, there is simply no way for an outsider to hack it.</p>
                <p id="suite008">In addition, video and audio data is encrypted via the SRTP method (Secure Real-Time Protocol), in order to ensure that your voice and video traffic cannot be viewed by unauthorized parties.</p>
            </div>
        </div>
    </div>
</section>
<label id="suite000" style="display: none" ></label>
{% endblock %}
{% block scripts %}
{% endblock %}