{% extends 'layout.html' %}
{% block title %}Our Team{% endblock %}
{% block content %}
<section class="developers icons-submenu">
    <div class="container">
        <div class="align-center">
            <div class="media-container-row">
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/board-of-advisors">
                            <img src="/assets/node_modules/bootstrap-icons/icons/person.svg" alt="" width="64"
                                height="64" title="Amera Mail">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us001">
                            Board of Advisors
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/partners">
                            <img src="/assets/node_modules/bootstrap-icons/icons/link.svg" alt="" width="64" height="64"
                                title="Amera Share">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us002">
                            Our Partners
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/team">
                            <img src="/assets/node_modules/bootstrap-icons/icons/people.svg" alt="" width="64"
                                height="64" title="Amera Suite">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us003">
                            Our Team
                        </h4>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-3">
                    <div class="card-img">
                        <a href="/contact">
                            <img src="/assets/node_modules/bootstrap-icons/icons/envelope.svg" alt="" width="64"
                                height="64" title="Amera Vault">
                        </a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title" id="about-us004">
                            Contact Us
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="amera-content">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <h2 id="team001">Our <strong>Team</strong></h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/chris_daly.jpg" alt="" width="256" height="256"
                        class="img-thumbnail" style="background-color: #eee;" />
                </div>
                <h2 id="team002"><strong>Christopher J Daly</strong><br>President and CEO</h2>
                <p id="team003">
                    The company is led by Christopher J. Daly, an experienced IT professional who has specialized in disruptive technology
                    with all the necessary core competencies required to create and manage this opportunity. Mr. Daly is a technology
                    visionary leader behind some of the most sophisticated and advanced Internet-enabled customer services platforms in the
                    industry. His career encompasses more than 30 years as a senior executive dealing with hardware, software, systems
                    development, advertising, payments, sales, and Video production. He is comfortable and understands the challenges of
                    building and scaling technology-based startups.
                </p>
                <p id="team004">
                    Mr. Daly brings passion, leadership and creativity to the conception, development, application and support of advanced,
                    consumer-service technologies. He was VP of Marketing of Software Distribution Services and SoftTeam (now called Ingram
                    Micro D), EVP of Softstyle (Company that developed most of the printer drivers for Microsoft Windows), SVP Packard Bell
                    (Company that introduced Micro Computers to mass merchandisers and sold more than both apple and IBM at the time), CEO
                    of Comstock Data Mining (Click and Motor integration of Hollywood (Sony Pictures and Universal Television) with the
                    Internet), Emerson Technologies (Manufacture and developer of Personnel Computers for many consumer electronics
                    companies) , Matchmaker.com (The first social network on the internet with millions of members 1999), MetroSplash
                    Systems (The developer of loyalty solutions for most of the major oil companies), Forecast Dynamics (Neural Networking
                    for banking), Manhattan Street Capital (Leading Crowd Source funding solution) and Board Member numerous other
                    technology startups.
                </p>
            </div>
        </div>
    </div>
</section>
<hr />
<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/gerald_amen.jpg" alt="" width="256" height="256"
                        class="img-thumbnail" style="background-color: #eee;" />
                </div>
                <h2 id="team005"><strong>Gerald Amen</strong><br>Chief Financial Officer</h2>
                <p id="team006">
                    Attended the University of Georgia, where he obtained his undergraduate degree in accounting. He went on to receive his
                    MBA from Colorado State University in Accounting and Information Systems. Upon earning his degrees, Jerry worked for
                    Ernst & Young in audit, tax, and compliance. Subsequently, he then continued his career trajectory as a Controller for
                    United Technologies Corporation, followed by a Director of Finance position at Mostek Corp.
                </p>
                <p id="team007">
                    Gerald Amen continued his upward movement in the arena of finance for various companies including STMICROELECTONICS, and
                    VHA Southwest. He eventually became CFO of Matchmaker.com in 2000, followed by multiple other executive leadership
                    positions. Most recently, Jerry has worked as a Founder / Partner at Patent Solutions, Autumn Journey Hospice, and IPLC,
                    LLC.
                </p>
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/max_fleming.jpg" alt="" width="256" height="256"
                        class="img-thumbnail" style="background-color: #eee;" />
                </div>
                <h2 id="team008"><strong>Max Fleming</strong><br>CTO</h2>
                <p id="team009">
                    Is the CTO of Amera IoT, leading development and research in software development. He works with all ongoing initiatives
                    and new strategies. Max developed groundbreaking entropy distillation techniques for use with random number generation.
                </p>
                <p id="team010">
                    Before joining AMERA IoT, Max was an Enterprise Agile Coach and Release Train Engineer at HPE, DXC, and Bank of America.
                    At DXC, he was RTE for Data Center Services for the Navy and Maine Corps, which included all Windows and Linux server
                    and laptop builds as well as all Storage Technologies. He was a founder or SortLogic Systems, which brought and
                    introduced high-speed Image Processing on Unisys platform to the Federal Reserve System, and numerous other Tier 1
                    banks. Max also developed online virtual check validation platforms and a check repair platform. Aside from his other
                    projects, Max developed various credit card and online transaction processing interfaces with Shared Financials, now
                    part of ACS. Max developed the check and image processing platforms at BancTec, which were used worldwide.
                </p>
            </div>
        </div>
    </div>
</section>
<hr>

<section>
    <div class="container">
        <div class="media-container-row">
            <div class="col-12">
                <div class="companion-media-right" style="width: auto;">
                    <img src="/assets/amera/images/phil_moerschell.jpg" alt="" width="256" height="256"
                        class="img-thumbnail" style="background-color: #eee;" />
                </div>
                <h2 id="team011"><strong>Phil Moerschell</strong><br>Director of Application Development</h2>
                <p id="team012">
                    Mr. Moerschell brings over 30 years of technical and management experience. He started as a programming specialist in
                    the Unite States Air Force. Throughout his career he has shown great entrepreneurial drive and founded two separate
                    successful startups. The first, Matchmaker.com, was sold to Lycos for $45 million. The second, Executive Technologies,
                    is still operating today as a successful medical technology consulting company in Virginia. He has also worked as a
                    consultant for over ten years for the United States Navy providing software development and team leadership.
                </p>
                <p id="team013">
                    For the last ten years, Mr. Moerschell has been an independent consultant for various startups including Reel-TV, Walker
                    Digital Table Systems, TableSafe, VoiceBox, and Echodyne. Also, during that time he consulted for a few well established
                    companies including Flir and Cadence. He has been providing embedded systems expertise primarily in Linux using such
                    technologies as C, C++, Qt, QML, Python, Pearl, Bash, Groovy, Docker, Git and Jenkins.
                </p>
                <p id="team014">
                    Mr. Moerschell is a proven leader with a strong entrepreneurial presence, capable of blending rational business
                    decisions with technical direction to inspire and achieve growth.
                </p>
            </div>
        </div>
    </div>
</section>
<label id="team000" style="display: none" ></label>
{% endblock %}
{% block scripts %}
{% endblock %}