[Unit]
Description=AmeraIOT Website Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/amera/web
ExecStart=/usr/local/bin/pipenv run server

[Install]
WantedBy=multi-user.target